<div class="post">
    <div class="postheader"></div>
    <div class="postcontent">
        <h2>Общее количество загрузок страницы = <b>{{ totalCount }}</b></h2>
    </div>
    <div class="postbottom">
        <h3 style=" margin-left: 25px; ">Вы посещали эту страницу <b>{{ count }}</b> раз</h3>
    </div>
</div>
