<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 Error Page</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/error404.css" />
</head>
<body>
    <section class="error-container">
        <span class="four"><span class="screen-reader-text">4</span></span>
        <span class="zero"><span class="screen-reader-text">0</span></span>
        <span class="four"><span class="screen-reader-text">4</span></span>
    </section>
    <div class="link-container">
        <a href="{{ path('cities') }}" class="more-link">Перейти на главную страницу</a>
    </div>
</body>
</html>
